/*
.*
!/.gitignore
!.env.example
!/ETL/
!/flake.nix
!/flake.lock
!/.envrc
!/justfile
!/ETL/infrastructure/airflow-data/
!/ETL/infrastructure/kafka-data/
!/ETL/infrastructure/kafka-data/broker-1/
!/ETL/infrastructure/kafka-data/broker-2/
!/ETL/infrastructure/spark-data/
!/ETL/infrastructure/.config/
!/ETL/infrastructure/.config/*.properties
/ETL/infrastructure/airflow-data/*
/ETL/infrastructure/kafka-data/broker-1/*
!/ETL/infrastructure/kafka-data/broker-1/.gitkeep
/ETL/infrastructure/kafka-data/broker-2/*
!/ETL/infrastructure/kafka-data/broker-2/.gitkeep
/ETL/infrastructure/spark-data/*
!/ETL/infrastructure/spark-data/.gitkeep
.env
**/*.log
**/__pycache__/
**/.venv/
